<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Form</title>
</head>
<body>
    <form>
        <label for="first-name">Nome:</label>
        <input type="text" id="first-name" name="first-name" placeholder="Angelo"><br><br>
        <label for="last-name">Cognome:</label>
        <input type="text" id="last-name" name="last-name" placeholder="Galanti"><br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="angelo.galanti@gmail.com"><br><br>
        <label for="stato">Stato:</label>
        <input type="text" id="stato" name="stato" placeholder="Italia"><br><br>
        <label for="indirizzo">Indirizzo:</label>
        <input type="text" id="indirizzo" name="indirizzo" placeholder="Via Donato Bramante 11A"><br><br>
        <label for="comune">Comune:</label>
        <input type="text" id="comune" name="comune" placeholder="Mondaino"><br><br>
        <label for="cap">Cap:</label>
        <input type="text" id="cap" name="cap" placeholder="47836"><br><br>
        <label for="provincia">Provincia:</label>
        <input type="text" id="provincia" name="provincia" placeholder="Rimini"><br><br>
        <label for="spedizione">Seleziona tipo di spedizione:</label>
        <select name="spedizione">
            <option value="standard">Standard 7/8 giorni (Gratuita)</option>
            <option value="veloce">Veloce 2/3 giorni ($ 5.00)</option>
        </select>
        <label for="pagamento">Seleziona tipo di pagamento:</label>
        <select name="pagamento">
            <option value="consegna">Paga alla consegna</option>
            <option value="paypal">Paga con Paypal</option>
            <option value="prepagata">Paga con prepagata</option> 
            <option value="klarna">Paga con Klarna in 3 comode rate</option>
            <option value="ApplePay">Paga con ApplePay</option>
            
        </select>
    </form>
    <p><a href="/ordine">Clicca qui per confermare il tuo ordine</a></p>
</body>
</html>